$sesameBlack: #353535;
$sesameRed: #ff0004;
$textColor: #333;
$bodyBgColor: #e9ecef;
$contentBgColor: #f9f9f9;
$inputBgColor: #fff;
$borderFocusColor: #111;
$borderColor: #ccc;
$borderRadius: 20px;
$inputPaddingTop: 1.5rem;
$inputPaddingBottom: 0.45rem;
$inputPaddingX: 0.9rem;
$labelSizeDefault: 1rem;
$labelSizeFloat: 0.72rem;
$labelTopDefault: 50%;
$labelTopFloat: 0.3rem;
$labelColorDefault: #555;
$labelColorFloat: #111;