@use "variables" as *;
@use "fonts";
@use "form";

body {
  @extend .regular;
  background-color: $bodyBgColor;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.toast-container {
  display: none;
}