{% extends "sesame/_layouts/html5" %}

{% block content %}
    <div>
        {{ 'Your login request was handled successfully. If an account with the specified email exists, a mail will be sent to it.'|t('sesame') }}
    </div>
{% endblock %}
