{% extends "sesame/_layouts/html5" %}

{% block content %}
    <div>
        <p>{{ 'Unfortunately we could not process your request. Please try again later, or with a different mail.'|t('sesame') }}</p>
    </div>
{% endblock %}
